[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=network.target local-fs.target previous-log-backup.service

[Service]
ExecStartPre=/usr/sbin/lighttpd -t -f /etc/lighttpd.conf
ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=3
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
