[Unit]
Description=Reload audit rules after auditd startup
After=auditd.service
Requires=auditd.service
ConditionPathExists=/etc/audit/audit.rules

[Service]
Type=oneshot
ExecStart=/sbin/auditctl -R /etc/audit/audit.rules
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Also=auditd.service
