[Unit]
Description=Network Manager
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=exec
ExecStart= /bin/sh -c '/etc/NetworkManager/NM_Wpa_Sync.sh'

[Install]
WantedBy=multi-user.target
