[Unit]
Description=Log Internet connectivity and Trigger network target
After=dbus.service
OnSuccess=network-up.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c '[ -f /lib/rdk/logMilestone.sh ] && /bin/sh /lib/rdk/logMilestone.sh "INTERNET_FULLY_CONNECTED"'

[Install]
WantedBy=multi-user.target
