[Unit]
Description=Journal Log Exporter
Documentation=man:journalctl(1)
After=systemd-journald.service
Requires=systemd-journald.service
DefaultDependencies=no

[Service]
ExecStartPre=/bin/mkdir -p /opt/logs
ExecStart=/bin/sh -c 'exec /bin/journalctl -f -o short-iso >> /opt/logs/unified-logging.txt'
Type=simple
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
